body {
	font-family: sans-serif;

	form {
		width: 30%;
		.error {
			color: red;
			font-weight: bold;
		}

		.success {
			color: green;
			font-weight: bold;
		}

		.input {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}

	.terminal {
		overflow: scroll;
	}

	.terminal-hidden {
		display: none;
	}
}

.status-message {
	color: red;
	font-weight: bold;
}
